<div class="top-bar" id="top-bar">
  <h1 class="top-bar-left stacked-for-medium">
    <a href="/">
      <img id="top-bar-logo"src="images/logo.png">
    </a>
  </h1>
</div>

<div style="display: none" id="alert" title="Attention!">
  <p>You must fill all the fields!</p>
</div>

<div class="grid-container" id="wolfram">
    <div class="grid-x" id="studentForm">
        <div class= "cell align center">
            {{#each questions}}
                {{#if current}}
                    <div class="currentquestion" data-id="{{id}}">
                        <div class="grid-x">
                        <div class="cell small-6" id="countryOne">
                            <h1 id="country1data">Country 1 Information:</h1>
                            <h1 id="country1" data-id="{{country1}}">{{country1}}</h1>
                            <br>
                            <table data-id="{{country1data}}" id="countryOneTable">
                                <tbody id="countryOneTableBody">
                                </tbody>
                            </table>
                        </div>
                        <div class="cell small-6" id="countryTwo">
                            <h1 id="country2data">Country 2 Information: </h1>
                            <h1 id="country2" data-id="{{country2}}">{{country2}}</h1>
                            <br>
                            <table data-id="{{country2data}}" id="countryTwoTable">
                                <tbody id="countryTwoTableBody">
                                </tbody>
                            </table>
                        </div>
                        </div>
                    </div>
                    {{question1}}
                        <input type="text" id="answer1" class="form-control studentAnswers" required></input>
                    {{question2}}
                        <input type="text" id="answer2" class="form-control studentAnswers" required></input>
                    {{question3}}
                        <input type="text" id="answer3" class="form-control studentAnswers" required></input>
                    <h3>Comment</h3>    
                        <textarea type="text" id="comment" name="comment"></textarea>
                    <h3>Your Name</h3>
                        <input type="text" id="student_name" name="form-control student_name"></input>
                    <button id="submitAns" class="btn btn-danger" type="submit">Submit Answers</button>
                {{/if}}
            {{/each}}

            <div style="display: none" id="comments">
                <h2>Students comments</h2>
                {{#each questions}}
                    {{#if current}}
                        {{#each Answers}}
                            <div>
                                {{student_name}} said {{comment}}
                            </div>
                        {{/each}}
                    {{/if}}
                {{/each}}
            </div>   
        </div>
    </div>
</div>


