<div class="top-bar" id="top-bar">
  <h1 class="top-bar-left stacked-for-medium">
    <a href="/">
      <img id="top-bar-logo"src="images/logo.png">
    </a>
  </h1>
  <div class="top-bar-right stacked-for-medium">
    <a href="/teacher" id="studentPageLink">Teacher</a>
  </div>
</div>

    <div class= "container" id="wolfram" >
        {{#each questions}}
        {{#if current}}
        {{!-- Display Info from website here --}}
        <div class="row">
            <div class="col-md" id="countryOne">
                    <h1>Country 1 Data</h1>
                    <br>
                    <table id="countryOneTable">
                        <th>
                                <tr>{{country1data}}</tr>
                            </th>
                        </table>
                </div>
            <div class="col-md" id="countryTwo">
                    <h1>Country 2 Data</h1>
                    <br>
                    <table id="countryTwoTable">
                        <th>
                                <tr>{{country2data}}</tr>
                        </th>
                    </table>
                        <div class="currentquestion" data-id="{{id}}">
                            <div class= "cell small-12">
                                <h1 id="country1" data-id="{{country1}}">{{country1}}</h1>  
                                <h1 id="country2" data-id="{{country2}}">{{country2}}</h1>

                            </div>               
                        </div>

                            {{question1}}
                                <input type="text" id="answer1" class="form-control studentAnswers" required></input>
                            {{question2}}
                                <input type="text" id="answer2" class="form-control studentAnswers" required></input>
                            {{question3}}
                                <input type="text" id="answer3" class="form-control studentAnswers" required></input>
                            <h3>Comment</h3>    
                                <input type="text" id="comment" name="comment"></input>
                            <h3>Your Name</h3>
                                <input type="text" id="student_name" name="form-control student_name"></input>

                            <button id="submitAns" class="btn btn-danger" type="submit">Submit Answers</button>
                        
                    {{/if}}
                {{/each}}
            </div>

            <div style="display: none" id="comments">
                <h2>Students comments</h2>
                    {{#each questions}}
                        {{#if current}}
                            {{#each Answers}}
                                <div>
                                    {{student_name}} said {{comment}}
                                </div>
                            {{/each}}
                        {{/if}}
                    {{/each}}
                </div>
                
        </div>
    </div>
{{!-- end of wolfram --}}
</div>

<div class="footer">
    <div class="cell small-12">
        <a href="https://github.com/cclivick/project-revolution" id="github">GitHub Repository</a>  
        <a id="copyright">Teach.me &copy; 2019</a>
    </div>
</div>