<div class="top-bar" id="top-bar">
  <h1 class="top-bar-left stacked-for-medium">
    <a href="/">
      <img id="top-bar-logo"src="images/logo.png">
    </a>
  </h1>
  <div class="top-bar-right stacked-for-large">
    <a href="/student" id="studentPageLink">Student Page</a>
  </div>
</div>

<div style="display: none" id="alert1" title="Attention!">
  <p>You must fill all the fields!</p>
</div>

<div style="display: none" id="alert2" title="Attention!">
  <p>Please grade all submissions for current topic.</p>
</div>

<div class="grid-container" id="teacherForm">
  <div class="grid-x grid-margin-x">
    <div class= "cell align center">

      <div class="row">
        <div class= "cell small-12">
          <h2 id="setTopic">Set topic and ask questions:</h2>
        </div>
      </div>

      <div class="row">
        <div class= "cell small-12">
          Country 1: <input type="text" id="country1" class="form-control teacherInput" required></input>
          Country 2: <input type="text" id="country2" class="form-control teacherInput" required></input>
        </div>
      </div>

      <br>

      <div class="row">
        <div class= "cell small-12">
          Question 1: <input type="text" id="question1" class="form-control teacherInput" required></input>
        </div>
      </div>
      <div class="row">
        <div class= "cell small-12">
          Question 2: <input type="text" id="question2" class="form-control teacherInput" required></input>
        </div>
      </div>
      <div class="row">
        <div class= "cell small-12">
          Question 3: <input type="text" id="question3" class="form-control teacherInput" required></input>
        </div>
      </div>

      <br>

      <div class="row" id="submitButtonRow">
        <div class="cell small-12">
          <button id="submitQuest" class="btn btn-danger" type="submit">Submit Questions</button>
        </div>
      </div>

      <div class="container" id="studentAnswersTable">
        <h2>Class answers for current topic:</h2>
        <div>
          <div>
            <ul>
              <h3>Need grades</h3>
              {{#each answers}}
                {{#if current}}
                  {{#unless grade}}
                    <li>
                      Student: {{student_name}}
                      Answer1: {{answer1}}
                      Answer2: {{answer2}}
                      Answer3: {{answer3}}
                      Comment: {{comment}}
                      <div class="button-group grades" data-id="{{id}}">
                        <button class="button grade" value="A" data-id="{{id}}">A</button>
                        <button class="button grade" value="B" data-id="{{id}}">B</button>
                        <button class="button grade" value="C" data-id="{{id}}">C</button>
                        <button class="button grade" value="D" data-id="{{id}}">D</button>
                        <button class="button grade" value="F" data-id="{{id}}">F</button>
                      </div>
                    </li>
                  {{/unless}}
                {{/if}}
              {{/each}}
            </ul>
            
            <ul>
              <h3>Graded</h3>
              {{#each answers}}
                {{#if current}}
                  {{#if grade}}
                  <ul>
                      <li>
                        Student: {{student_name}}
                        Answer1: {{answer1}}
                        Answer2: {{answer2}}
                        Answer3: {{answer3}}
                        Comment: {{comment}}
                        Grade: {{grade}}
                      </li>
                    </ul>
                  {{/if}}
                {{/if}}
              {{/each}}
          </div>
        </div>
        <button id="viewarchive">View archive</button>
        <div id="archivebuttons"></div>
        <div id="archive"></div>
      {{!-- end of studentAnswersTable --}}
      </div>
    </div>
  </div>
{{!-- end of teacherForm --}}
</div>

<div class="footer">
  <div class="grid-x">
    <div class="cell small-6">
        <a href="https://github.com/cclivick/project-revolution" id="github">GitHub Repository</a>
    </div>
    <div class="cell small-6">
        <a id="copyright">Teach.me &copy; 2019</a>
    </div>
  </div>
</div>