<div class="container" id="teacherForm">
  <div class="row">
    <div class="col-md-12">
      <h2>Set topic and ask questions</h2>
    </div>
  </div>
  <div class="row">
      <div class="col-md">
        Country 1: <input type="text" id="country1" class="form-control teacherInput" required></input>
      </div>
      <div class="col-md">
        Country 2: <input type="text" id="country2" class="form-control teacherInput" required></input>
      </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12">
      Question 1: <input type="text" id="question1" class="form-control teacherInput" required></input>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      Question 2: <input type="text" id="question2" class="form-control teacherInput" required></input>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      Question 3: <input type="text" id="question3" class="form-control teacherInput" required></input>
    </div>
  </div>
  <div class="row" id="submitButtonRow">
    <div class="col-md-12">
      <button id="submitQuest" class="btn btn-danger" type="submit">Submit Questions</button>
    </div>
  </div>
</div>

<div class="container" id="studentAnswersTable">
  <h2>Class answers for current topic:</h2>
  <div>
    <p>Answers</p>
    <div>
      <ul>
        <h3>Need grades</h3>
        {{#each answers}}
            {{#if current}}
              {{#unless grade}}
                    <li>
                      Country #1: {{country1}}
                      Country #2: {{country2}}
                      Student: {{student_name}}
                      Answer1: {{answer1}}
                      Answer2: {{answer2}}
                      Answer3: {{answer3}}
                      Comment: {{comment}}
                      <div class="button-group grades" data-id="{{id}}">
                        <button class="button grade" value="A" data-id="{{id}}">A</button>
                        <button class="button grade" value="B" data-id="{{id}}">B</button>
                        <button class="button grade" value="C" data-id="{{id}}">C</button>
                        <button class="button grade" value="D" data-id="{{id}}">D</button>
                        <button class="button grade" value="F" data-id="{{id}}">F</button>
                      </div>
                    </li>
                {{/unless}}
            {{/if}}
        {{/each}}
      </ul>
      
      <ul>
        <h3>Graded</h3>
        {{#each answers}}
            {{#if current}}
              {{#if grade}}
              <ul>
                  <li>
                    Country #1: {{country1}}
                    Country #2: {{country2}}
                    Student: {{student_name}}
                    Answer1: {{answer1}}
                    Answer2: {{answer2}}
                    Answer3: {{answer3}}
                    Comment: {{comment}}
                    Grade: {{grade}}
                  </li>
                </ul>
              {{/if}}
            {{/if}}
        {{/each}}
    </div>
  </div>
</div>

<div>
  <div>
    <button id="viewarchive">View archive</button>
      <div id="archivebuttons">
      </div>
  </div>
</div>

<div>
  <div id="archive">
  </div>
</div>

<a href="/">← Back To Home</a>
  


