<div class="container" id="teacherForm">
  <div class="row">
    <div class="col-md-12">
      <h2>Set topic and ask questions</h2>
    </div>
  </div>
  <div class="row">
      <div class="col-md">
        Country 1: <input type="text" id="country1" class="form-control teacherInput" required></input>
      </div>
      <div class="col-md">
        Country 2: <input type="text" id="country2" class="form-control teacherInput" required></input>
      </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12">
      Question 1: <input type="text" id="question1" class="form-control teacherInput" required></input>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      Question 2: <input type="text" id="question2" class="form-control teacherInput" required></input>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      Question 3: <input type="text" id="question3" class="form-control teacherInput" required></input>
    </div>
  </div>
  <div class="row" id="submitButtonRow">
    <div class="col-md-12">
      <button id="submitQuest" class="btn btn-danger" type="submit">Submit Questions</button>
    </div>
  </div>
</div>

<div class="container" id="studentAnswersTable">
  <h2>Class answers for current topic:</h2>
  <div>
    <p>Answers</p>
    <div>
      <ul>
        {{#each answers}}
            {{#if current}}
              <li>
                Country #1: {{country1}}
                Country #2: {{country2}}
                Student: {{student_name}}
                Answer1: {{answer1}}
                Answer2: {{answer2}}
                Answer3: {{answer3}}
                Comment: {{comment}}
              </li>
            {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>

<div>
  <div>
    <button id="viewarchive">View archive</button>
      <div id="archivebuttons">
      </div>
  </div>
</div>

<div>
  <div id="archive">
  </div>
</div>

<a href="/">← Back To Home</a>
  


